body{
    background-color: #009688;
}

.main-content{
    margin: 3vh 15vw;
    height: 94vh;
}

.user-menu{
    border-right: 1px solid #E3DCD4;
}

.user-menu,
.active-contact{
    background-color: #EAEAEA;
}

.user-menu .user-profile p,
.active-contact .contact-profile p{
    display: inline;
}

.user-menu .user-profile img,
.active-contact .contact-profile img{
    width: 50px;
    height: 50px;
}

.user-menu .user-nav-buttons a,
.active-contact .contact-nav-buttons a{
    text-decoration: none;
    color: #B0B0B0;
    margin: 0 .5rem;
}

/* LEFT SECTION */
/* LEFT SECTION */
/* LEFT SECTION */ 

.main-content .col-4{
    background-color: #FFFFFF;
    height: 100%;
}

/* DESKTOP NOTIFICATION */

.desktop-notifications{
    background-color: #8EDAFC;
} 

.desktop-notifications i{
    background-color: #FFFFFF;
    color: #8EDAFC;
}

/* SEARCH BAR */

.search-bar{
    background-color: #F5F5F5;   
}

.search-bar .col-2{
    background-color: #FFFFFF;
}

.search-bar button i{
    color: #B0B0B0;
}

.search-bar .col{
    background-color: #FFFFFF;
}

/* USER CONTACTS */

.user-contacts .user-contact{
    border-bottom: 1px solid #EAEAEA;
}

.user-contacts .user-contact:hover{
    background-color: #F5F5F5;
}

/* RIGHT SECTION */
/* RIGHT SECTION */
/* RIGHT SECTION */


.main-content .col-8{
    background-image: url(../img/mine.jpg);
    height: 100%;
}

.messages-box{
    overflow: auto;
    height: calc(100% - 132px);
}

.messages-box p{
    max-width: 70%;
    overflow-wrap: break-word;
    line-height: 15px;
}

.received-message {
    background-color: white;
}

.sent-message {
    background-color: rgb(188, 255, 161);
}
